* {
  // cursor: url(https://img.crx4chrome.com/19/0f/c0/ebpnppaimbgjcmlmofdhjlnhnmepbjha-logo.png), auto;
  // cursor: url(https://cdn2.iconfinder.com/data/icons/starwars/icons/128/Qui-Gon%20Jinns%20light-saber.png), auto;
  // cursor: url(http://www.iconninja.com/files/415/125/239/light-saber-obi-wans-icon.png), auto;
  // cursor: url(https://cdn2.iconfinder.com/data/icons/starwars/icons/128/Darth%20Mauls%20light-saber.png), auto;
  // cursor: url(http://icons.iconarchive.com/icons/jonathan-rey/star-wars-vehicles/128/X-Wing-02-icon.png), auto;

}

body {
  background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Hme4C4_7iosf3emf/stars-in-the-sky-looped-animation-beautiful-night-with-twinkling-flares-hd-1080_sr8wih9v__F0000.png);
  cursor: url(http://www.iconninja.com/files/415/125/239/light-saber-obi-wans-icon.png), auto;
}

body:after {
  cursor: url(http://www.iconninja.com/files/415/125/239/light-saber-obi-wans-icon.png), auto;
}
.active {
  color: black;
  text-shadow: none;
}
