.cardContainer {
  max-width: 1500px;
  padding: 80px 20px 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 80px 0px;
  justify-content: space-around;
  grid-auto-flow: dense;
  margin: 0 auto;
  cursor: url(http://www.iconninja.com/files/415/125/239/light-saber-obi-wans-icon.png), auto;
}
