header {
  background: url('https://images5.alphacoders.com/672/thumb-1920-672012.jpg');
  height: 60vh;
  width: 100%;
  background-position: 49% 78%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header-logo {
  display: flex;
  align-content: center;
  img {
    margin: 125px auto 0px;
    height: 300px;
  }
}