header {
  background: url('https://images5.alphacoders.com/672/thumb-1920-672012.jpg');
  cursor: url(http://www.iconninja.com/files/415/125/239/light-saber-obi-wans-icon.png), auto;
  height: 55vh;
  width: 100%;
  background-position: 50% 14%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-size: cover;
}

.header-logo {
  display: flex;
  align-content: center;
  filter: drop-shadow(rgba(2, 246, 15, 0.4) 1px 1px 3px);
  img {
    margin: 70px auto 0px;
    height: 275px;
  }
}