header {
  background: url('https://images5.alphacoders.com/672/thumb-1920-672012.jpg');
  height: 100vh;
  width: 100%;
  background-position: top -150px center;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-content: center;
}

.logo {
  // align-self: flex-start;
  display: flex;
  align-content: center;
  img {
    margin: 100px auto 0px;
    height: 300px;
  }
}