.nav {
  background: rgba(3, 246, 3, 0.514);
  height: 60px;
  border-top: solid 2px rgba(51, 247, 33, 0.8);
  border-bottom: solid 2px rgba(51, 247, 33, 0.8);
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow:  rgba(89, 250, 74, 0.61) 2px 5px 6px,
  rgba(89, 250, 74, 0.61) -2px -5px 6px;
  cursor: url(http://www.iconninja.com/files/415/125/239/light-saber-obi-wans-icon.png), auto;
  .nav-link {
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    color: white;
    text-shadow: 2px 3px 4px #000;
    font-size: 3em;
    padding-bottom: 30px;
    height: 50px;
    &:hover  {
      color: #000;
      text-shadow: none;
      cursor: url(https://cdn2.iconfinder.com/data/icons/starwars/icons/128/Darth%20Mauls%20light-saber.png), auto;
    }
  }
  .active {
    color:#5cbdfa;
    text-shadow: none;
  }
}


