@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

* {
  font-family: 'Pathway Gothic One', sans-serif;
}

.background {
  background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Hme4C4_7iosf3emf/stars-in-the-sky-looped-animation-beautiful-night-with-twinkling-flares-hd-1080_sr8wih9v__F0000.png);
  height: 1000px;
  overflow: hidden;
}
.logo {
  display: flex;
  align-content: center;
  flex-direction: column;
  img {
    margin: 50px auto 0px;
    height: 300px;
    animation: flyin 2.5s linear;
    &:hover {
    filter: drop-shadow(rgba(51, 247, 33, 0.911) 2px 3px 10px);
    cursor: pointer;
    height: 303px;
    }
  } 
}

@keyframes flyin {
  0% {
    opacity: 0.1;
    top: -100px;
    transform: rotateX(20deg) translateZ(-2500px);
  }
  75% {
    opacity: .7;
  }
  
	100% { 
    opacity: .9;
    top: -6000px;
    transform: rotateX(23deg) translateZ(0px);
  }
}

.crawl {
  margin-top: 170vh;
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-size: 1200%;
  font-weight: 600;
  line-height: 300px;
  letter-spacing: 5px;
  text-align: center;
  flex-direction: column;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 45s linear;
  p {
    margin: -70px 0px;
    font-size: 80%;
  }
}

.fade {
  position: relative;
  width: 100%;
  min-height: 85vh;
  top: -25px;
  z-index: 1;
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.945), 
                  rgba(0, 0, 0, 0.781),
                  rgba(0, 0, 0, 0.76), 
                  transparent 70%);
}

@keyframes crawl {
	0% {
    top: -100px;
    transform: perspective(1500px) rotateX(20deg)  translateZ(0);
  }
  
	100% { 
    top: -6000px;
    transform: perspective(1000px) rotateX(23deg) translateZ(-2500px);
  }
}

.button-div {
  display: flex;
  justify-content: center;
}

.enter-btn {
  outline: none;
  border: solid 2px rgba(51, 247, 33, 0.562);
  border-radius: 10px;
  background: rgba(3, 246, 3, 0.733);
  color: white;
  position: absolute;
  top: 80vh;
  z-index: 10;
  height: 75px;
  width: 200px;
  font-size: 3em;
  box-shadow: rgba(51, 247, 33, 0.8) 2px 3px 5px,
              rgba(51, 247, 33, 0.8) -2px -3px 5px;
  animation: fadein 34s;
  &:hover{
    cursor: pointer;
    filter: brightness(105%);
    border: solid 2px rgb(253, 253, 253);
    box-shadow: rgba(51, 247, 33, 0.8) 4px 5px 30px,
    rgba(51, 247, 33, 0.8) -4px -5px 30px;
  }
}

@keyframes fadein {
  0% { 
    opacity: 0; 
  }
  90% {
    opacity: 0; 
  }
  100% { 
    opacity: 1; 
  }
}
